---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';
import Footer from '../components/Footer.astro';

const { content } = Astro.props;
const { title, description, publishDate, cover, permalink, alt } = content;
---

<BaseHead {title} {description} {cover} {permalink} />
<BlogHeader />
<body>
  <div class="container">
    <BlogPost {title} {description} {cover} {publishDate} {alt}>
      <slot />
    </BlogPost>
  </div>
  <Footer />
</body>
